body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    min-height: 100vh;
}
div{
    overflow: hidden;
    white-space: nowrap;
}
.header-fixed-load{
    top: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: #222223;
    transform-origin: 100% 0%;
    animation-name: load;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}
.header-fixed{
    top: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: #222223;
    transform-origin: 0% 100%;
    animation-name: screen;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}
.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform-origin: 0% 50%, 0% 50%;
    animation-name: logo, logo-move;
    animation-duration: 2s, 4s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 0s, 3.5s;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}
.logo{
    padding: 0.5vh;
    height: 16vh;
    width: 20vh;
    transform-origin: 0% 50%;
    animation-name: jump;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}
.pre{
    font-family: Sofia Sans;
    color: white;
    font-size: 7vh;
    font-weight: 300;
    align-self: center;
    transform-origin: 0% 50%;
    animation-name: jump;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.6s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}
.prk{
    font-family: Sofia Sans;
    color: white;
    font-size: 7vh;
    transform-origin: 0% 50%;
    animation-name: jump;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.7s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}
.Info-screen{
    position: fixed;
    top: 20vh;
    height: 80vh;
    background-color: #2A2A2A;
    width: 100%;
    z-index: -10;
    text-align: center;
}
.welcome-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 40vh;
}
.Welcome-msg{
    font-size: 6vh;
    font-family: Sofia Sans;
    color: white;
    justify-self: center;
    text-align: center;
    height: 8vh;
}
.ad-msg{
    font-size: 3vh;
    font-family: Sofia Sans;
    color: white;
    justify-self: center;
    text-align: center;
}
.ad-msg1{
    font-size: 3vh;
    font-family: Sofia Sans;
    color: white;
    padding: 0.1vh;
    justify-self: center;
    text-align: center;
}
.body-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.buffalo-logo{
    width: 15vh;
    height: 15vh;
    justify-self: center;
}
.main-place{
    width: 20vh;
    height: 10vh;
    justify-self: center;
}
.apple-logo{
    width: 20vh;
    height: 7vh;
    justify-self: center;
    padding: 3vh;
}

@keyframes screen{
    0%{
        height: 100vh;
    }
    100%{
        height: 20vh;
    }
}
@keyframes logo{
    0%{
        opacity: 0;
        top: 40vh;
    }
    100%{
        opacity: 1;
        top: 40vh;
    }
}
@keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}   
@keyframes jump{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-2vh);
    }
    75%{
        transform: translateY(0.5vh);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes logo-move{
    0%{
        top: 40vh;
    }
    100%{
        top: 0;
    }
}

@media screen and (max-device-width: 480px){
    .welcome-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Welcome-msg{
        font-size: 4vh;
        font-family: Sofia Sans;
        color: white;
        padding: 0.1vh;
        justify-self: center;
        text-align: center;
    }
    .ad-msg{
        font-size: 3vh;
        font-family: Sofia Sans;
        color: white;
        padding: 0.1vh;
        justify-self: center;
        text-align: center;
    }
    .ad-msg1{
        font-size: 3vh;
        font-family: Sofia Sans;
        color: white;
        padding: 0.1vh;
        justify-self: center;
        text-align: center;
    }
    .body-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5vh;
    }
    .buffalo-logo{
        width: 15vh;
        height: 15vh;
        justify-self: center;
    }
    .main-place{
        width: 20vh;
        height: 10vh;
        justify-self: center;
    }
    .apple-logo{
        width: 20vh;
        height: 7vh;
        justify-self: center;
        padding: 3vh;
    }
  }